body {
    display: block;
    margin: 0px;
    background-image: url("../images/bg.jpg");
    color: beige;
}

.hidediv {
    display: none;
}

.showdiv {
    display: block;
}

#teamBanner {
    height: 150px;
    width: 60%
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th,
td {
    padding: 15px;
}

#result {
    padding-top: 10px;
}

#teamOwners {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#teamOwners li {
    display: flex;
    flex: 1;
    border: 1px solid black;
    margin: 20px;
    justify-content: center;
    padding: 5px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
}